@charset "UTF-8";
nav {
  background-color: #4056A1;
  color: #ffffff;
  height: 120px;
  padding: 0 1.5em;
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11;
}

nav h1 {
  font-family: "Bungee", cursive;
}
nav .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: red; */
}

nav .flex:hover {
  color: red;
}

.fa-angle-double-down:before {
  content: "";
  color: #ff6600;
}
